@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative");

$inlay-font: "Cinzel Decorative", cursive;
$inlay-font-size: .275em;

@import "../src/index";

body {
  box-sizing: border-box;
  margin: 0 0 30px 0;

  background-color: #111;
}

.plectrum {
  display: flex;
  width: 100%;

  font-size: 125px;
}

.plectrum .neck {
  flex-shrink: 0;
  margin-left: .5em;

  // fix for flexbox padding issue https://stackoverflow.com/questions/38993170/last-margin-padding-collapsing-in-flexbox
  &:last-child {
    border-right: .5em solid transparent;
  }
}
