.plectrum .neck > .fretboard {
  position: absolute; // so that contents can be positioned absolute
  display: flex;
  width: 100%;

  padding-bottom: .2em;

  border-bottom-left-radius: .1em;
  border-bottom-right-radius: .1em;

  // approximation of an ebony fretboard
  background-image: linear-gradient(
    // bottom-left highlight
    45deg,
    rgba(85, 70, 70, 1),
    rgba(85, 70, 70, 1) .03em,
    rgba(85, 70, 70, 0) .07em
  ),
  linear-gradient(
    // bottom-right shadow
    315deg,
    rgba(17, 17, 17, 1),
    rgba(17, 17, 17, 1) .03em,
    rgba(17, 17, 17, 0) .07em
  ),
  linear-gradient(
    // ebony
    90deg,
    #554646,
    #262222 1.5%,
    #262222 10%,
    #302626 40%,
    #302626 60%,
    #262222 90%,
    #262222 98.5%,
    #111
  );

  > .inlay { z-index: 100; }
  > .frets { z-index: 200; }

  // bottom shadow
  &:after {
    content: "";
    position: absolute;
    display: block;

    margin: 0 .05em;
    width: calc(100% - .1em);
    height: .025em;
    top: calc(100% - .025em);

    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;

    background-image: linear-gradient(
      rgba(black, 0),
      rgba(black, .2)
    ),
    linear-gradient(
      90deg,
      rgba(black, 0),
      rgba(black, .2) .1em,
      rgba(black, .2) calc(100% - .1em),
      rgba(black, 0)
    );
  }
}
