.plectrum .neck > .fretboard > .inlay {
  position: absolute; // so that it doesn't affect string layout
  width: 100%;
  text-align: center;
  padding: 1em .5em; // note that ems here are different because of the font size change

  font-size: .3em;
  font-family: cursive;
  color: #DDDDA6; // approximation of ivory

  // imitation inset shadow for inlays
  text-shadow: -.04em -.01em .03em rgba(0, 0, 0, .8), .02em .01em .02em rgba(255, 255, 255, .8);
}
