.plectrum .neck > .fretboard {
  > .frets > *,
  > .fretless > * {
    padding: .15em;

    > * {
      display: block;
      text-align: center;

      font-size: $inlay-font-size;
      font-family: $inlay-font;
      color: $color-ivory; // approximation of ivory

      // imitation inset shadow for inlays
      text-shadow: -.02em -.01em .01em rgba(0, 0, 0, .6), .015em .01em .01em rgba(255, 255, 255, .4);
    }
  }
}
