.plectrum .neck.scale-25-5 {
  height: 25.5em;

  > .fretboard > .frets > * {
    &:nth-child(1)  { margin-top: 1.391em; }
    &:nth-child(2)  { margin-top: 1.351em; }
    &:nth-child(3)  { margin-top: 1.275em; }
    &:nth-child(4)  { margin-top: 1.203em; }
    &:nth-child(5)  { margin-top: 1.136em; }
    &:nth-child(6)  { margin-top: 1.072em; }
    &:nth-child(7)  { margin-top: 1.012em; }
    &:nth-child(8)  { margin-top: 0.955em; }
    &:nth-child(9)  { margin-top: 0.902em; }
    &:nth-child(10) { margin-top: 0.851em; }
    &:nth-child(11) { margin-top: 0.803em; }
    &:nth-child(12) { margin-top: 0.758em; }
    &:nth-child(13) { margin-top: 0.716em; }
    &:nth-child(14) { margin-top: 0.675em; }
    &:nth-child(15) { margin-top: 0.638em; }
    &:nth-child(16) { margin-top: 0.602em; }
    &:nth-child(17) { margin-top: 0.568em; }
    &:nth-child(18) { margin-top: 0.536em; }
    &:nth-child(19) { margin-top: 0.506em; }
    &:nth-child(20) { margin-top: 0.478em; }
    &:nth-child(21) { margin-top: 0.451em; }
    &:nth-child(22) { margin-top: 0.425em; }
    &:nth-child(23) { margin-top: 0.402em; }
    &:nth-child(24) { margin-top: 0.379em; }
  }
}

.plectrum .neck.scale-27 {
  height: 27em;

  > .fretboard > .frets > * {
    &:nth-child(1)  { margin-top: 1.475em; }
    &:nth-child(2)  { margin-top: 1.430em; }
    &:nth-child(3)  { margin-top: 1.350em; }
    &:nth-child(4)  { margin-top: 1.274em; }
    &:nth-child(5)  { margin-top: 1.203em; }
    &:nth-child(6)  { margin-top: 1.135em; }
    &:nth-child(7)  { margin-top: 1.072em; }
    &:nth-child(8)  { margin-top: 1.011em; }
    &:nth-child(9)  { margin-top: 0.955em; }
    &:nth-child(10) { margin-top: 0.901em; }
    &:nth-child(11) { margin-top: 0.850em; }
    &:nth-child(12) { margin-top: 0.803em; }
    &:nth-child(13) { margin-top: 0.758em; }
    &:nth-child(14) { margin-top: 0.715em; }
    &:nth-child(15) { margin-top: 0.675em; }
    &:nth-child(16) { margin-top: 0.637em; }
    &:nth-child(17) { margin-top: 0.601em; }
    &:nth-child(18) { margin-top: 0.568em; }
    &:nth-child(19) { margin-top: 0.536em; }
    &:nth-child(20) { margin-top: 0.506em; }
    &:nth-child(21) { margin-top: 0.477em; }
    &:nth-child(22) { margin-top: 0.451em; }
    &:nth-child(23) { margin-top: 0.425em; }
    &:nth-child(24) { margin-top: 0.401em; }
  }
}

.plectrum .neck.scale-34 {
  height: 34em;

  > .fretboard > .frets > * {
    &:nth-child(1)  { margin-top: 1.868em; }
    &:nth-child(2)  { margin-top: 1.801em; }
    &:nth-child(3)  { margin-top: 1.700em; }
    &:nth-child(4)  { margin-top: 1.605em; }
    &:nth-child(5)  { margin-top: 1.515em; }
    &:nth-child(6)  { margin-top: 1.430em; }
    &:nth-child(7)  { margin-top: 1.349em; }
    &:nth-child(8)  { margin-top: 1.274em; }
    &:nth-child(9)  { margin-top: 1.202em; }
    &:nth-child(10) { margin-top: 1.135em; }
    &:nth-child(11) { margin-top: 1.071em; }
    &:nth-child(12) { margin-top: 1.011em; }
    &:nth-child(13) { margin-top: 0.954em; }
    &:nth-child(14) { margin-top: 0.901em; }
    &:nth-child(15) { margin-top: 0.850em; }
    &:nth-child(16) { margin-top: 0.802em; }
    &:nth-child(17) { margin-top: 0.757em; }
    &:nth-child(18) { margin-top: 0.715em; }
    &:nth-child(19) { margin-top: 0.675em; }
    &:nth-child(20) { margin-top: 0.637em; }
    &:nth-child(21) { margin-top: 0.601em; }
    &:nth-child(22) { margin-top: 0.567em; }
    &:nth-child(23) { margin-top: 0.535em; }
    &:nth-child(24) { margin-top: 0.505em; }
  }
}
