.plectrum .strings {
  padding: 0 .12em; // gap between edge of fretboard and outer strings
  flex-grow: 1;
  display: flex;
  justify-content: space-between; // space strings evenly

  > * {
    display: block;

    // defaults
    width: 1px;
    background-color: $color-steel;
    background-image: linear-gradient(
      90deg,
      rgba(black, .3) 10%,
      rgba(white, .25) 15%,
      rgba(white, .8) 30%,
      rgba(white, .25) 45%,
      rgba(black, .7) 90%
    );

    // string shadow
    box-shadow: .04em 0 .02em 0 rgba(black, .5);

    // border-radius: 1em; // this will probably be needed to terminate strings nicely

    &.bronze {
      background-color: $color-bronze;
    }

    &.nickel {
      background-color: $color-nickel;
    }

    &.nylon {
      background-color: transparent;
      background-image: linear-gradient(
        90deg,
        rgba($color-nylon, .7),
        rgba($color-nylon, .4) 30%,
        rgba($color-nylon, .2) 60%,
        rgba($color-nylon, .4) 95%
      );
    }

    &.steel {
      background-color: $color-steel;
    }

    &.wound {
      background-image: repeating-linear-gradient(
        -8deg,
        rgba(black, .7) 0,
        rgba(black, 0) .015em,
        rgba(black, 0) .02em
      ),
      linear-gradient(
        90deg,
        rgba(black, .3) 10%,
        rgba(white, .25) 15%,
        rgba(white, .8) 30%,
        rgba(white, .25) 45%,
        rgba(black, .7) 90%
      );
    }

    &.flat-wound {
      background-image: repeating-linear-gradient(
        -8deg,
        rgba(black, .3) 0,
        rgba(black, 0) .01em,
        rgba(black, 0) .036em
      ),
      linear-gradient(
        90deg,
        rgba(black, .3) 10%,
        rgba(white, .25) 15%,
        rgba(white, .8) 30%,
        rgba(white, .25) 45%,
        rgba(black, .7) 90%
      );
    }
  }
}
