$inlay-font: sans-serif !default;
$inlay-font-size: .25em !default;

$color-bronze: #F92 !default;
$color-ebony: #262222 !default;
$color-ivory: #DDA !default;
$color-nickel: #BA9 !default;
$color-nylon: #DFF !default;
$color-steel: #DDD !default;
